@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Support pour line-clamp */
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
